@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h2 {
    @apply font-semibold leading-[57.6px];
  }
  h3 {
    @apply font-semibold leading-[57.6px];
  }
}
<<<<<<< HEAD
=======
/* p {
  @apply text-sm lg:text-base
} */
>>>>>>> 38647a988eccfd6c887cebf32713f0cf3770b6d8

.slick-slider .slick-dots {
  bottom: 10px;
}

<<<<<<< HEAD
.slick-slider .slick-dots li.slick-active button:before {
  color: #114b9f;
}

.slick-slider .slick-dots li button:before {
  font-size: 14px;
=======
.slick-slider  .slick-dots li.slick-active button:before  {
  color: #114B9F;
}

.slick-slider .slick-dots li button:before {
  font-size:14px;
>>>>>>> 38647a988eccfd6c887cebf32713f0cf3770b6d8
}
